.options_modal{
 background-color: #203455;
 border: none;
 color: white;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 -webkit-box-shadow: 24px 24px 177px -23px rgba(0,0,0,0.75);
 -moz-box-shadow: 24px 24px 177px -23px rgba(0,0,0,0.75);
 box-shadow: 24px 24px 177px -23px rgba(0,0,0,0.75);
 background-color: #1e3953;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 border-radius: 100px; 
 border-color: #1e3953;
 width: 100px;
 size: 5px;
 margin-left: 10px;
 margin-top: 0px;
 color:#ffffff;
 justify-content: flex-start;
  
}

  .send_button{
    background:#203455;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    width: 160px;
    height: 30px;
    text-align: center;
    color:white !important;
    outline: none;
    margin-left: 75%;
  }

    
.select1{
  background:#203455;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  width: 160px;
  height: 30px;
  text-align: center;
  color:white !important;
}

.select_subaccount{
  background:#203455;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  width: 200px;
  height: 30px;
  text-align: center;
  color:white !important;
}

.select_location{
  background:#203455;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  width: 200px;
  height: 30px;
  text-align: center;
  color:white !important;
}



.select2{
  background:#203455;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  width: 160px;
  height: 30px;
  text-align: center;
  color:white;
}


input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: whitesmoke;
  width: 160px;
}
input:focus {
  border-color: #203455
}

.mat-dialog-container{
  overflow-x: hidden;
}

.mat-table {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
}



.scroll-panel{
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 0px;
  height: 75vh;
  border-right: solid 1px #d8d8d8;
  @media screen and (max-width: 499px) {
      height: 53vh;
  }
}
/* width */
.scroll-panel::-webkit-scrollbar {
  width: 4px;
  position: relative;
  right: -2px;
}
/* Track */
.scroll-panel::-webkit-scrollbar-track {
  background: white;
  width: 1px; 
}
/* Handle */
.scroll-panel::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 3px;
  position: relative;
  right: -2px;
}




.close{
  position: relative;
  top: -23px;
  right: -37px;
  button{
      .mat-icon{
          font-size: 20px;
      }
      &:focus {
          outline: none !important;
      }
      
  }
  
}
:host ::ng-deep .mat-button-focus-overlay {
  background-color: transparent !important;
}

th.mat-header-cell {
  text-align: center !important;
}

.center_data_table {
  text-align: center
}


input.mat-chip-input{
    background-color: #ffffff;
    border: none;
    border-radius: 5%;
    box-sizing: border-box;
    display: block;
    font-size: 1.0rem;
    height: 40px;
    /* padding: 0 2.5rem 0 4.5rem; */
    width: 95%;
    -webkit-box-shadow: 2px 15px 24px 2px rgb(211, 210, 211);
-moz-box-shadow: 2px 15px 24px 2px rgb(236, 236, 236);
box-shadow: 2px 15px 24px 2px rgb(228, 227, 228);
    border: none;
    outline: none;
    &::placeholder{
      color:#d8d8d8 ;      
      @media (max-width: 500px) {
        font-size: 12px;
      }
    }
  }


  .input-icon{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/leantechproject.appspot.com/o/add.svg?alt=media&token=63c16f19-9f94-434a-8ae2-06658ce42798');
    background-repeat: no-repeat;
    background-position: 4px center;
    background-size: 20px;
    display: flex;
    align-items: center;
    width: 300px;
    padding-left: 28px;
    height: 30px;
    border: 1px solid rgba(9, 113, 163, 1);
    border-radius: 3px;
   
  }


  .mat-chip.mat-standard-chip {
    background-color:203455;
    color: #ffffff;
}

.mat-chip.mat-standard-chip .mat-chip-remove {
  color: white;
  opacity: 0.4;
}