/* Using the Bem standard (modified block element)*/

/* Style Modal*/

//Shipment Information Style

@media screen and (max-width: 600px)  {
  .shipment-information__h3{
    margin-left: 0px !important;
  }

  .margin-content__inputs{
     margin-left: 0% !important;
  }

  .margin-content__input2{
    margin-left: 20% !important;
  }

  .close {
    position: relative;
    top: -23px;
    right: 0px !important;
    button {
      .mat-icon {
        font-size: 20px;
      }
      &:focus {
        outline: none !important;
      }
    }
  }
  :host ::ng-deep .mat-button-focus-overlay {
    background-color: transparent !important;
  }

  .scroll-panel{
    margin-left: 0px !important;
  }

  .shipment-information__icon{
    width: 10px !important;
  }
  .padding-top__information{
    margin-bottom: 2px !important;
    display: block !important;
  }
  .select-pickup{
    width: 100% !important;
    margin-bottom: 10px !important;
  }

  .select-rated {
    width: 100% !important;
  }
  .mat-paginator__modal{
    display: none;
  }

  .mat-card{
    padding: 7!important;
  }

  .button-form__requote-flex{
    display: none;
  }

  


  .chip__mat-label{
    padding-left: 0px !important;
  }
  .scroll-panel{
    height: 85% !important;
    width: 100% !important;
}
.spacing-print{
  flex-wrap: wrap !important;
}

.more-options__flex{
  display: none !important;
}
.button-form__save{
  margin-left: 35% !important
}
.shipment-information__requote {
  max-width: 50% !important;
}

.button-form_requote{

  margin-left: 0px !important;
  width: 100% !important;
}
 .shipment-information__icon{
   display: none;
 }

 th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 0 !important;
}

.create-shipment__margin-top{
  max-height: 0px !important;
  display: none !important;
}

.select-status__margin-top{
  margin-top: 0px !important;
  display: none !important;
}
}


@media screen and (min-width:600) and (max-width:1128px){
  
  .chip__mat-label{
    padding-left: 10px;
  }

  .button-form__modal{
    width: -webkit-fill-available !important;
  }

}

.shipment-information__h3{
  margin-left: 10px;
}
.shipment-information__rates{
  width: 30px; height: 30px; vertical-align: middle;
}
.shipment-information__icon{
  width:50px
}

.padding-top__information{
  padding-top: 10px;
}


// Modal options
.button-form__modal {
  background-color: #203455;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-box-shadow: 24px 24px 177px -23px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 24px 24px 177px -23px rgba(0, 0, 0, 0.75);
  box-shadow: 24px 24px 177px -23px rgba(0, 0, 0, 0.75);
  background-color: #1e3953;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border-color: #1e3953;
  width: 100px;
  size: 5px;
  margin-left: 10px;
  margin-top: 0px;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px rgb(187, 187, 187);
  transition: all 0.2s ease;
  cursor: pointer;
  
}

// .margin-content__inputs{
//   margin-left: 10% !important;
// }

.margin-content__input2{
  margin-left: 20% !important;
}

.button-form__modal:hover {
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px #1e3953;
  transition: all 0.2s ease;
}


.button-form__requote{
  width: 150px; 
  height: 40px; margin-left: 35%; border: none; cursor: pointer;
}

.button-form__modal-clear{
  margin-left: 94%;
}
// Send button style
.button-form__save {
  background: #203455;
  border-radius: 100px;
  width: 160px;
  height: 30px;
  text-align: center;
  outline: none;
  margin-left: 75%;
  color: rgba(255, 255, 255, 1) !important;
  transition: all 0.2s ease;
  box-shadow: 0 4px 16px rgb(187, 187, 187);
}

.button-form__save:hover {
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px #1e3953;
  transition: all 0.2s ease;
}

// Modal predefined design Scroll
.mat-dialog-container {
  overflow-x: hidden;
}


//  Mat-label Request
.pickup-request__mat-label{
  margin-left: 5px; 
  color: white;
}

.rated_mat-label{
  margin-left: 5px; 
  color:white
}

// Modal scroll styles
.scroll-panel {
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 0px;
  height: 75vh;
  border-right: solid 1px #d8d8d8;
  @media screen and (max-width: 499px) {
    height: 53vh;
  }
}

/* width */
.scroll-panel::-webkit-scrollbar {
  width: 4px;
  position: relative;
  right: -2px;
}
/* Track */
.scroll-panel::-webkit-scrollbar-track {
  background: white;
  width: 1px;
}
/* Handle */
.scroll-panel::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 3px;
  position: relative;
  right: -2px;
}

//Close Modal
.close {
  position: relative;
  top: -23px;
  right: -37px;
  button {
    .mat-icon {
      font-size: 20px;
    }
    &:focus {
      outline: none !important;
    }
  }
}
:host ::ng-deep .mat-button-focus-overlay {
  background-color: transparent !important;
}

//Select Pickup
.select-pickup {
  background: #203455;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  width: 160px;
  height: 30px;
  text-align: center;
  color: white !important;
}

//Select Account
.select-subaccount {
  background: #203455;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  width: 200px;
  height: 30px;
  text-align: center;
  color: white !important;
}

//Select Location
.select-location {
  background: #203455;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  width: 200px;
  height: 30px;
  text-align: center;
  color: white !important;
}

.margin-content__inputs[_ngcontent-inc-c231] {
   margin-left: 0% !important;
}
//Select Rated
.select-rated {
  background: #203455;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  width: 160px;
  height: 30px;
  text-align: center;
  color: white;
}

//  Predefined inputs design
input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: whitesmoke;
  width: 160px;
}

input:focus {
  border-color: #203455;
}

/* Style Table*/

// Table predefined design
.mat-table {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
}
//Table Header Cell align
th.mat-header-cell {
  text-align: center !important;
}

// Center table items
.center_data_table {
  text-align: center;
}




input.mat-chip-input {
  background-color: #ffffff;
  border: none;
  border-radius: 5%;
  box-sizing: border-box;
  display: block;
  font-size: 1rem;
  height: 40px;
  width: 95%;
  -webkit-box-shadow: 2px 15px 24px 2px rgb(211, 210, 211);
  -moz-box-shadow: 2px 15px 24px 2px rgb(236, 236, 236);
  box-shadow: 2px 15px 24px 2px rgb(228, 227, 228);
  border: none;
  outline: none;
  &::placeholder {
    color: #d8d8d8;
    @media (max-width: 500px) {
      font-size: 12px;
    }
  }
}

// Chips Style
.input-icon {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/leantechproject.appspot.com/o/add.svg?alt=media&token=63c16f19-9f94-434a-8ae2-06658ce42798");
  background-repeat: no-repeat;
  background-position: 4px center;
  background-size: 20px;
  display: flex;
  align-items: center;
  width: 300px;
  padding-left: 28px;
  height: 30px;
  border: 1px solid rgba(9, 113, 163, 1);
  border-radius: 3px;
}

.mat-chip.mat-standard-chip {
  background-color: 203455;
  color: #ffffff;
}

.mat-chip.mat-standard-chip .mat-chip-remove {
  color: white;
  opacity: 0.4;
}

.chip__mat-label{
  padding-left: 100px;
}

//Text Area
.text-area__comments{
  background-color: #ffffff;
  width: 97%;
  box-sizing: border-box;
  display: block;
  font-size: 1rem;
  -webkit-box-shadow: -9px -6px 79px -42px rgba(0,0,0,0.53);
  -moz-box-shadow: -9px -6px 79px -42px rgba(0,0,0,0.53);
  box-shadow: -9px -6px 79px -42px rgba(36, 28, 28, 0.53);
  outline: none;
  border-radius: 5px;
  border-color: whitesmoke;
  

}
.general-info__mergin-left{
  margin-left: 5px;
}

.options__margin-bottom{
  margin-bottom: 30px;
}