<!-- Close Modal -->
<div class="close">
  <button (click)="onNoClickClose()" mat-icon-button type="button" class="button-form__modal-clear">
    <mat-icon>clear</mat-icon>
  </button>
</div>

<!-- Scroll Panel -->
<div class="scroll-panel" infiniteScroll [infiniteScrollDistance]="1" [scrollWindow]="false">

<!-- Shipment Information -->
  <div>
    <div class="shipment-information__h3  animate__animated animate__backInLeft animate__delay-0.8s">
      <div>
        <h3  ><b>Shipment Information</b></h3>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" class="shipment_information__flex">
        <div fxFlex="5%" fxFlex.xs="100%" fxFlex.sm="10" >
          <img   class="shipment-information__icon" src="../../../../assets/icons/shipment info.svg" alt="" srcset="">
        </div>
        <div fxFlex="95%">
          <div fxLayout="column"  fxFlex.xs="100%">
            <div  ><b>Shipment Information</b></div>
            <div >view and update all shipment data, generate pickup request and change shipment
              status
            </div>
          </div>
        </div>
      </div>


      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="20%" fxLayoutAlign="center">
        <div fxFlex="50%" class="padding-top__information">
          <b>Actions</b> <br>
          <div fxLayout="column">
            <div>Change shipment status and save</div>
          </div>
        </div>
        <div fxFlex="50%" class="padding-top__information">
          <b>Shipment Tags</b><br>
          <div fxLayout="column">
            <div>Set smart tag for shipments and make them searchable</div>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%">
        <div fxFlex="100%">
          <div fxLayout="20%" class="padding-top__information">
            <mat-form-field class="select-pickup">
              <mat-label matInput class="pickup-request__mat-label" > Pickup Request</mat-label>
              <mat-select>
                <mat-option>
                  Customer 1
                </mat-option>
                <mat-option>
                  Customer 2
                </mat-option>
              </mat-select>
            </mat-form-field>


            <div fxLayout="20%" fxLayoutGap="20%">
              <mat-form-field class="select-rated">
                <mat-label matInput class="rated_mat-label"> Rated</mat-label>
                <mat-select>
                  <mat-option>
                    Customer1
                  </mat-option>
                  <mat-option>
                    Customer2
                  </mat-option>

                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div fxFlex="50%">
          <div fxLayout="column" fxLayoutGap="20%" class="chip__mat-label">
            <mat-form-field class="example-chip-list">
              <mat-chip-list #chipList aria-label="Fruit selection">
                <div fxFlex="100%">

                  <input placeholder="" class="input-icon" [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)">
                </div>
                <div fxFlex="100%">
                  <mat-chip class="animate__animated animate__fadeIn  animate__delay-1s" *ngFor="let shipmentTag of shipments" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(shipmentTag)">
                    {{shipmentTag.name}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                </div>

              </mat-chip-list>
            </mat-form-field>

          </div>

        </div>


      </div>

      <div fxLayout="row" class="more-options__flex" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        
        <div fxFlex="30%" fxFlex.xs="100" class="options__margin-bottom" >
          <b>More Options</b> <br>
          <div fxLayout="column">
            Print Bol, Invoice, labels,requote and more.
          </div>
        </div>
        <div fxFlex="15%" fxFlex.xs="20" fxFlex.sm="0" fxFlex.md="0">
          <button class="button-form__modal" style="width: 140px; height: 30px;">
            <img style="vertical-align: middle;" src="../../../assets/icons/bol.svg"> Bol
          </button>
        </div>
        <div fxFlex="15%" fxFlex.xs="20" fxFlex.sm="0" fxFlex.md="0">
          <button class="button-form__modal" style="width: 140px; height: 30px;">
            <img style="vertical-align: middle;" src="../../../assets/icons/printer.svg"> Label
          </button>
        </div>
        <div fxFlex="70%" fxFlex.xs="20">
          <button class=" button-form__modal" style="width: 140px; height: 30px;">
            <img style="vertical-align: middle;" src="../../../assets/icons/requote.svg"> Re-Quote
          </button>
        </div>
      </div>

      <hr>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%">
        <div fxFlex="100%">
          <div fxLayout="20%" fxLayoutGap="0.5%">

          </div>
        </div>
      </div>
    </div>
    
    <div  class="shipment-information__h3  animate__animated animate__backInRight animate__delay-0.8s" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%">
      <div fxFlex="30%">
        <div fxLayout="column" fxLayoutGap="2%" style="margin-left: 5px;">
          <div><img style="vertical-align: middle;" src="../../../../assets/icons/info.svg"><b> General Info.</b></div>
          <div><b>Shipment ID:</b></div>
          <div>{{shipmentData.shipmentId}}/Rated</div>
          <div><b>Create by:</b></div>
          <div>{{shipmentData.createdBy}}</div>
          <div><b>Create date:</b></div>
          <div>{{shipmentData.createdDate}}</div>
          <div><b>Account:</b> Training</div>
          <div><b>SubAccount:</b></div>
          <div>
            <mat-form-field class="select-subaccount">
              <mat-label matInput style="margin-left: 5px; color:white"> Customer 1</mat-label>
              <mat-select>
                <mat-option>
                  1
                </mat-option>
                <mat-option>
                  2
                </mat-option>

              </mat-select>
            </mat-form-field>
          </div>
          <div><b>Location:</b></div>
          <div>
            <mat-form-field class="select-location">
              <mat-label matInput style="margin-left: 5px; color:white"> Customer 1</mat-label>
              <mat-select>
                <mat-option>
                  1
                </mat-option>
                <mat-option>
                  2
                </mat-option>

              </mat-select>
            </mat-form-field>
          </div>

        </div>

      </div>
      <div fxFlex="100%">
        <mat-card class="animate__animated animate__bounceInLeft animate__delay-0.5s" style="height: 90%; width: 92%; overflow-x: hidden; overflow:hidden;">
          <mat-tab-group>
            <mat-tab style="color:black;" label="Shipper">
              <form (ngSubmit)="onSubmit()" fxLayout="column">
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10%" fxFlex="100%" style="padding-top: 10px;">
                  <div fxLayout="row" >
                    <div fxLayout="column">
                      <label for="companyName"><b>Company Name</b></label>
                      <label for="address"><b>Address</b></label>
                      <label for="address2"><b>Address 2</b></label>
                      <label for="zipCode"><b>Zip Code</b></label>
                      <label for="city"><b>City</b></label>
                      <label for="state"><b>State</b></label>
                    </div>
                    <div fxLayout="column" class="margin-content__inputs">

                      <div><input autocomplete="off" type="text" id="companyName" name="companyName"
                          [(ngModel)]="companyName"></div>
                      <div><input autocomplete="off" type="text" id="address" name="address" [(ngModel)]="address">
                      </div>
                      <div><input name="address2" type="text" id="address2" [(ngModel)]="address2"></div>
                      <div><input autocomplete="off" type="text" name="zipCode" id="zipCode" [(ngModel)]="zipCode">
                      </div>
                      <div><input autocomplete="off" type="text" name="city" id="city" [(ngModel)]="city"></div>
                      <div><input autocomplete="off" type="text" name="state" id="state" [(ngModel)]="state"></div>

                    </div>
                  </div>

                  <div fxLayout="row"  fxFlex="20%">
                    <div fxLayout="column">
                      <label for="country"><b>Country</b></label>
                      <label for="contact"><b>Contact</b></label>
                      <label for="phone"><b>Phone</b></label>
                      <label for="fax"><b>Fax</b></label>
                      <label for="email"><b>email</b></label>
                      <label for="location"><b>Location</b></label>
                    </div>
                    <div fxLayout="column" class="margin-content__input2">
                      <div><input autocomplete="off" type="input" id="country" name="country" [(ngModel)]="country">
                      </div>
                      <div><input autocomplete="off" type="input" id="contact" name="contact" [(ngModel)]="contact">
                      </div>
                      <div><input autocomplete="off" type="input" id="phone" name="phone" [(ngModel)]="phone"></div>
                      <div><input autocomplete="off" type="input" id="fax" name="fax" [(ngModel)]="fax"></div>
                      <div><input type="input" id="email" name="email" [(ngModel)]="email"></div>
                      <div><input autocomplete="off" type="input" id="location" name="location" [(ngModel)]="location">
                      </div>
                    </div>

                  </div>
                </div>

                <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxFlex="100%">
                  <div>
                    <div style="padding-top: 10px;">
                      <b>Comments</b>
                    </div>
                    <div style="padding-bottom: 10px;">
                      <textarea  class="text-area__comments" name="comments" [(ngModel)]='comments' resize="none" cols="70" rows="5"></textarea>
                    </div>

                  </div>

                </div>
                <div> <button class="button-form__save" type="submit"> Save</button></div>
              </form>

            </mat-tab>
            <mat-tab label="Second" [disabled]="true"> No data</mat-tab>
            <mat-tab label="Third" [disabled]="true"> No data </mat-tab>
          </mat-tab-group>
        </mat-card>

      </div>

    </div>
    <br>
    
    <hr style="border-bottom-color: rgba(0, 0, 0, 0.12);">
   
    <div  class="shipment-information__h3  animate__animated animate__backInLeft animate__delay-0.8s" fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" style="padding-bottom: 5px;">
      <div fxFlex="70%" fxFlex.xs="80"><img class="shipment-information__rates" 
          src="../../../../assets/icons/rate.svg" /><b> Rates</b>
      </div>
      <div  fxFlex="30%"  class="test3" fxFlex.xs="30"> <button class="button-form__modal  button-form_requote"
          style="width: 150px; height: 40px; margin-left: 35%; border: none; cursor: pointer;">
          <img style="vertical-align: middle;" src="../../../assets/icons/requote.svg"> <span class="button-form__requote-flex">Re-Quote</span>
        </button></div>
    </div>
  </div>
  <br>
  
<!-- Table Modal -->
  <div>
    <table mat-table [dataSource]="dataTable">
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Rate Type </th>
        <td mat-cell *matCellDef="let element" class="center_data_table"> {{element.rateType}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="carrier">
        <th mat-header-cell *matHeaderCellDef> Carrier </th>
        <td mat-cell class="center_data_table" *matCellDef="let element"> {{element.carrier.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="servicetype">
        <th mat-header-cell *matHeaderCellDef> Service Type</th>
        <td mat-cell class="center_data_table" *matCellDef="let element"> {{element.serviceType}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="scac">
        <th mat-header-cell *matHeaderCellDef> SCAC</th>
        <td mat-cell class="center_data_table" *matCellDef="let element"> {{element.scac}} </td>
      </ng-container>

      <ng-container matColumnDef="serviceDays">
        <th mat-header-cell *matHeaderCellDef> Service Days</th>
        <td mat-cell class="center_data_table" *matCellDef="let element"> {{element.serviceDays}} </td>
      </ng-container>

      <ng-container matColumnDef="carrierRate">
        <th mat-header-cell *matHeaderCellDef> Carrier Rate</th>
        <td mat-cell class="center_data_table" *matCellDef="let element"> {{element.carrierRate}} </td>
      </ng-container>

      <ng-container matColumnDef="carrierRateTotal">
        <th mat-header-cell *matHeaderCellDef> Customer Rate</th>
        <td mat-cell class="center_data_table" *matCellDef="let element"> {{element.carrierRate}} </td>
      </ng-container>

      <ng-container matColumnDef="carrierQuote">
        <th mat-header-cell *matHeaderCellDef> Carrier Quote ID</th>
        <td class="center_data_table" mat-cell *matCellDef="let element"> <img with="30px" height="30px"
            src="../../../../assets/icons/download.svg" /> </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td class="center_data_table" mat-cell *matCellDef="let element"> <input type="checkbox" name="" id=""> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator class="mat-paginator__modal" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

  <hr>

<!--Carrier and customer costs-->
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" *ngFor="let charge of dataTable">
      <div fxFlex="30%"><b>Carrier Total:</b> {{charge.carrierRate | currency}}</div>  
      <div fxFlex="70%"> <b>Customer Total:</b> {{charge.customerRate | currency}}</div>
  </div>
</div>