
// Header Style
.header {
  &__logo {
    img {
      max-width: 273px;
      height: auto;
    }
  }
  &__search {
    &-input {
      .mat-button {
        color: #fff !important;
      }
    }
  }
}

// Material Style
.mat-accordion .mat-expansion-panel {
  margin-bottom: 5px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.mat-card_style {
  -webkit-box-shadow: 0px 18px 44px 0px rgba(176, 176, 176, 1);
  -moz-box-shadow: 0px 18px 44px 0px rgba(176, 176, 176, 1);
  box-shadow: 0px 18px 44px 0px rgba(176, 176, 176, 1);
  border-radius: 5px;
  cursor: pointer;
  margin: 25px;
}

// Search 
.search {
  width: 90%;
  height: 39px;
  padding: 18px;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
  margin-right: auto;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);; */

  input {
    background-color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: #202124;
    display: block;
    font-size: 1rem;
    height: 4rem;
    /* padding: 0 2.5rem 0 4.5rem; */
    width: 100%;
    -webkit-appearance: none;
    border: none;
    outline: none;
    &::placeholder {
      color: #d8d8d8;
      @media (max-width: 500px) {
        font-size: 12px;
      }
    }
  }
}

//Scroll
.scrolling {
  max-height: 100% !important;
  overflow-y: unset;
}

// Media Querys Scroll
@media (min-width: 601px) {
  .scrolling {
    max-height: 100vh !important;
    overflow-y: auto;
  }
}

// Scroll Detect
.scrolling-detect {
  overflow-y: auto;
  max-height: calc(100vh - 478px);
  @media (max-width: 500px) {
    max-height: calc(100vh - 390px);
  }
}

//body Theme Defaul
body.theme-default .mat-button-focus-overlay,
body.theme-default .mat-button-focus-overlay:hover {
  background: none !important;
}

// Margin Default Style
.margin {
  margin: 20px;
}

//Ng Deep
::ng-deep .mat-expansion-panel-header-title {
  @media (max-width: 500px) {
    font-size: 12px;
  }
}

::ng-deep.mat-expansion-panel-content {
  color: #8a8a8a;
}

::ng-deep .mat-form-field-underline {
  display: none;
}



.select-status {
  background: #dfdfdf;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  width: 80px;
  height: 30px;
  text-align: center;
}

.select-carrrier__status {
  background: #dfdfdf;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  width: 130px;
  height: 30px;
  text-align: center;
}

.select-customer__status {
  background: #dfdfdf;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  width: 160px;
  height: 30px;
  text-align: center;
}

.button-create__shipment {
  background-color: #203455;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  background-color: #1e3953;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border-color: #1e3953;
  width: 160px;
  height: 40px;
  size: 5px;
  margin-left: 10px;
  margin-top: 0px;
  color: #ffffff;
  justify-content: flex-start;
  box-shadow: 0 4px 16px rgb(187, 187, 187);
  transition: all 0.2s ease;

  
}

.button-create__shipment:hover {
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px #1e3953;
  transition: all 0.2s ease;
}


