<div class="container"  fxLayout="row" fxLayout.xs="column"  fxLayout.sm="column" fxLayoutWrap>
    <div fxFlex="40" >
      <!-- Shipment List Header -->
      <h3 class="shipment-list__h3 animate__animated animate__slideInDown   animate__delay-1s" style="margin-left: 20px;">Shipment List </h3>
      <div class="header" fxLayout="column">
        <div class="header__logo p-16 p-sm-24" fxLayout="row" fxHide.xs fxLayoutAlign="center center">
        </div>
        <!-- Header Search Input -->
        <div class="header__search-input" style="padding-left: 20px;" fxLayout="row" fxLayoutAlign="center center" fxFlex.xs="100" fxFlex="100">
          <div class="search mat-elevation-z2" fxLayout="row" fxLayoutAlign="start center" xFlex.xs="100">
            <mat-icon style="color: gray;">search</mat-icon>
            <input #filter placeholder="Search for a Shipment..." name="term" fxFlex  [(ngModel)]="term"/>
          </div>

        </div>
      </div>
    </div>
    <div class="select-status__margin-top" fxFlex="40">
      <mat-form-field class="select-status">
        <!-- Select Status -->
        <mat-label style="margin-left: 5px; ">Status</mat-label>
        <mat-select >
          <mat-option *ngFor="let shipment of shipmentService.shipments ">
              {{shipment.customerStatus}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
      <!-- Select Status Customer -->
      <mat-form-field class="select-carrrier__status">
        <mat-label style="margin-left: 5px;"> Carrier Status</mat-label>
        <mat-select >
          <mat-option *ngFor="let shipment of shipmentService.shipments ">
            {{shipment.customerStatus}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
      <mat-form-field class="select-customer__status">
        <mat-label > Customer Status</mat-label>
        <mat-select >
          <mat-option *ngFor="let shipment of shipmentService.shipments ">
            {{shipment.customerStatus}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="20" class="create-shipment__margin-top">
     <button  type="button" class="button-create__shipment" style="cursor: pointer;">
       <img style="vertical-align: middle;" src="../../../assets/icons/newshipment.svg"> Create Shipment
     </button>
    </div>
  
</div>

<!-- filter:filterShipment" -->
<mat-card  *ngFor="let shipment of shipmentService.formatedShipments | paginate: { itemsPerPage: 5, currentPage: pageActual } | filter:term" class="mat-card_style animate__animated animate__backInLeft animate__delay-1s" (click)="onCreate(shipment)">

  <div fxLayout="row" fxLayoutAlign="">
    <div fxFlex="90" fxFlex.xs="80" fxFlex.sm="85" fxFlex.md="90" style="margin-bottom: 10px;">{{shipment.invoice[1]}}</div>
    <div  fxFlex="10" fxFlex.xs="20" fxFlex.sm="15" fxFlex.md="10"><div >{{shipment.createDateMenu }}<img  style="margin-left: 10px;" width="15px" src="../../../assets/icons/menu.png" alt=""></div ></div>
  </div>
  
  <div fxLayout="row" class="container-shipment__information">
    <div fxFlex="10" class="shipment-origin__information" fxFlex.xs="0"><b>{{shipment.origin.city}}, {{shipment.origin.state}}</b> <br>
      {{shipment.createdDate}}
    </div>
    <div fxFlex="5"  class="shipment-origin__information" >
      <img style="vertical-align: middle;" width="20px" class=" animate__animated animate__lightSpeedInLeft animate__delay-2s" style="margin-bottom:30px; justify-content: center;" src="https://upload.wikimedia.org/wikipedia/commons/2/2a/Flecha.png" alt="" srcset="">
    </div>
    <div fxFlex="10"   class="shipment-origin__information"  fxFlex.xs="0"><b>{{shipment.destination.city}},{{shipment.destination.state}}  </b><br>
      {{shipment.finalDate}}
    </div>
    <div fxFlex="10"  class="shipment-origin__information" ></div>
    <div  fxFlex="10" class="shipment-origin__information"  fxFlex.xs="0">
      <div *ngFor="let track of shipment.trackingDetails">
        {{track.location}} <br>
        <img class="animate__animated animate__bounce animate__delay-2s" width="20px" style="vertical-align: middle;"  src="../../../assets/icons/pointer.png">{{track.status}}
      </div>
    </div>
    <div fxFlex="5">
    
    </div>
  
    <div class="shipment_reference" fxFlex="15" fxFlex.xs="100%"  layout-align="between center" >
      <div *ngFor="let ref of shipment.references">
        <b>{{ref.name}}</b> <br>
        {{ref.value}} <br> 
      </div>
    </div>

    <div fxFlex="15" fxFlex.xs="0"   fxFlex.sm="0" class="company-name__flex">
      <img width="100px" [src]="shipment.carrier.logoUrl" onerror="javascript:this.src='../../../assets/icons/companynotdata.png'" > <br>
       <span class="shipment-company__span">{{shipment.companyName}}</span>
    </div>
    
    <div fxFlex="10"  fxFlex.xs="25" class="test1"> <span class="status-carrier__span">Status Carrier</span>
      <mat-button-toggle class="button-status__carrier" style="height: 30px;     line-height: 0px;" value="bold" ><b style="color: blueviolet; margin-top: 0px;">Ready to strap</b></mat-button-toggle>
    </div>
    <div fxFlex="10" fxFlex.xs="25" class="test2"><span class="status-customer__span">Status Customer</span>
      <mat-button-toggle class="button-status__customer" value="bold" style="height: 30px;" ><b style="color: crimson;">{{shipment.customerStatus }}</b></mat-button-toggle>

    </div>
  </div>

  <div fxLayout="row"  >
    <div  fxFlex="10" class="progress-bar__flex" fXFlex.xs="25">
      <mat-progress-bar class="animate__animated animate__backInLeft animate__delay-5s" mode="determinate" value="100"></mat-progress-bar>
    </div>
    <div fxFlex="1"> </div>
    <div fxFlex="10" fXFlex.xs="25"  class="progress-bar__flex">
      <mat-progress-bar class="animate__animated animate__backInLeft animate__delay-4s" mode="determinate" value="100"></mat-progress-bar>
    </div>
    <div fxFlex="1"></div>
    <div fxFlex="10" class="progress-bar__flex" fXFlex.xs="25">
      <mat-progress-bar class="animate__animated animate__backInLeft animate__delay-3s" mode="determinate" value="100"></mat-progress-bar>
    </div>
    <div fxFlex="1"></div>
    <div fxFlex="10" class="progress-bar__flex" fXFlex.xs="25"> 
      <mat-progress-bar class="animate__animated animate__backInLeft animate__delay-2s" mode="determinate" value="0"></mat-progress-bar>
    </div>

    <div fxFlex="50">
     
    </div>
    <div fxFlex="10"  class="custumer-charge">
      <div>
        <b>{{shipment.customerRate  | currency}}</b> <br>
        {{shipment.customerRate.name}}
       
      </div>
     
    </div>

    <div fxFlex="10" class="carrier-charge">
      <div>
        <b>{{shipment.carrierRate  | currency}}</b> <br>
        {{shipment.carrierRate.name}}
      </div>
     
    </div>


  </div>
</mat-card>
        
<pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
